/* sign-in Css Start */

body {
  font-family: "Roboto", sans-serif;
}

.sign-in {
  width: 100%;
  background-color: #fff;
  padding: 68px;
  padding-bottom: 0px;
}

.top-label-form > div {
  margin: 0 0 10px 0;
}

.logo > img {
  margin: 0px auto;
  display: block;
}

.login-wrap h3 {
  color: #462e61;
  font-weight: 400;
  margin-top: 30px;
}

.top-label-form input[type="name"],
.top-label-form input[type="tel"],
.top-label-form input[type="text"],
.top-label-form input[type="email"],
.top-label-form input[type="password"],
.top-label-form input[type="url"],
.top-label-form textarea {
  padding: 8px;
  width: 100%;
  border: 1px solid #552e7e;
}
.signup-callout a {
  color: #552e7e;
}

.login-half.left {
  padding-right: 10%;
  width: 55%;
  display: inline-block;
}

.button.green,
.green.file-upload-button,
.gsc-cursor-page.green {
  background: #47cf73;
  color: #000;
}

.top-label-form > div {
  margin: 0 0 20px 0;
}

.login-half.right {
  padding-left: 10%;
  width: 45%;
  display: inline-block;
  float: right;
}

.forgot_pw a {
  color: #b6b6b6;
  float: right;
}

.remember_me {
  color: #b6b6b6;
}
.login-divider {
  width: 0%;
  position: relative;
}

.login-divider .bar-top {
  top: 0;
}

.login-divider .bar {
  width: 2px;
  height: 41%;
  width: 2px;
  position: absolute;
  background: #9ca0b1;
  left: -1px;
}

.Sign-up-area form:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 50em;
  width: 1em;
  left: 4.15em;
  top: 12.8em;
  background-image: url("../images/Line.png");
  background-repeat: no-repeat;
}

.login-area:after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 17em;
  margin: auto;
  height: 20em;
  width: 1em;
  left: 4.15em;
  background-image: url(../images/Line.png);
  background-repeat: no-repeat;
}

.social-auth-errors {
  display: none;
}

.twitter-button {
  background: #60b5f0;
  color: white;
}

.social-account-button {
  padding-left: 60px;
  text-align: left;
}

.button-fullwidth {
  display: block;
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.github-button {
  background: #de4c34;
  color: white;
}

.facebook-button {
  background: #4464a2;
  color: white;
}

.social-account-button {
  padding-left: 60px;
  text-align: left;
}

.little-big-header {
  color: #474646;
  margin-bottom: 25px;
  font-weight: 400;
}

.sign-up input[type="submit"] {
  background: #552e7e;
  height: 41px;
  line-height: 20px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0px;
}

.bottom_row .col_half {
  width: 50%;
  float: left;
}

.form_wrapper .row > div {
  padding: 0 15px;
  box-sizing: border-box;
}

.button,
.file-upload-button,
.gsc-cursor-page {
  font-family: "Roboto", sans-serif;
  -webkit-appearance: none;
  font-size: 1rem;
  text-shadow: none;
  line-height: 1.2;
  display: inline-block;
  padding: 8px 16px;
  margin: 0 10px 0 0;
  position: relative;
  border-radius: 4px;
  border: 3px solid transparent;
  color: white;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none !important;
  text-align: center;
  font-weight: normal !important;
}

.button-fullwidth {
  display: block;
  width: 100%;
  text-align: center;
  margin: 20px 0;
  margin-top: 0px;
  border-radius: 0px;
}

.signup-callout {
  display: block;
  padding: 10px;
  position: relative;
  border: 1px solid #552e7e;
  margin: 0 0 20px 0;
  overflow: hidden;
}

.signup-callout {
  margin-top: 5px;
  text-align: center;
  color: #552e7e;
}

.login-social-buttons a:hover {
  color: #fff;
}

.video-content-bg {
  position: fixed;
  width: 33%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 45%;
  top: 50%;
  display: block;
  width: 80px;
  height: 80px;
  background: #ffffff;
  border-radius: 50%;
  background-image: url("../images/Play-btn.png");
}

/* sign-in Css End */

/* sign-up Css Start */

.Categories .custom-control-label {
  margin-bottom: 10px;
  color: #474646;
  cursor: pointer;
  font-weight: 300;
}

.Sign-up-area div {
  padding-left: 6px;
}

.Issue {
  color: #474646;
  font-weight: 400;
  margin-bottom: 20px;
}

.instruct {
  color: #474646;
  font-weight: 400;
  font-size: 13px;
}

.Already-account-button {
  border: 1px solid #552e7e;
  color: #552e7e;
}

.login-social-button a:last-child:hover {
  color: #552e7e;
}

.login-social-button a:hover {
  color: #fff;
}
.Already-acnt:hover {
  color: #552e7e;
}

/* sign-up Css End */
